.nav {
  width: 100vw;
  height: 100px;
  background-color: blueviolet;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-decoration: none;
  margin-right: 50px;
  width: 100px;
  height: 30px;
  background-color: azure;
  text-align: center;
  border-radius: 10px;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.friends {
  text-decoration: none;
  width: 100px;
  height: 30px;
  background-color: azure;
  text-align: center;
  border-radius: 10px;
  padding-top: 7px;
}
